*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: Inter-Bold;
  src: url('./Inter-SemiBold.ttf');
}

@font-face {
  font-family: Inter-Reg;
  src: url('./Inter-Regular.ttf');
}

@font-face {
  font-family: Playfair-Italic;
  src: url('./PlayfairDisplay-MediumItalic.ttf');
}

@font-face {
  font-family: Playfair-Med;
  src: url('./PlayfairDisplay-Medium.ttf');
}

@font-face {
  font-family: Meloriac;
  src: url('./Meloriac Regular.ttf');
}

:root {
  --color-background: #002868;
  --color-text: #fafafa;
  --header-font: Inter-Reg, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #001330;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1;
  font-family: Inter-Reg, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: hidden; */
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a {
  color: currentColor;
  text-decoration: none;
}
