@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-weight: normal;
}

.___section {
  padding: 0.75rem;
}

.nav___flex {
  width: 100%;
  position: fixed;
  z-index: 9999999;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(248, 248, 248, 0.5), rgb(214, 214, 214)); */
}

.nav___link.active {
  color: var(--color-text);
  transition: color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.nav___link:hover,
.social___link h2:hover {
  color: #5a5a5a;
  transition: color 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.nav___div {
  display: flex;
  gap: 20px;
}

.booking {
  width: 100%;
}

.nav___link h1,
.___time {
  /* font-family: Inter-Reg, sans-serif !important; */
  font-size: 1.25rem;
  mix-blend-mode: multiply;
}

.differ___text {
  font-family: Playfair-Italic, sans-serif;
}

@media (min-width: 900px) {
  .nav___link h1,
  .___time {
    font-size: 1.25rem;
  }
}

.space {
  margin-right: 60px;
}

.header___text.sub___head {
  font-size: 1.3em;
}

.header___text {
  font-family: Inter-Reg, sans-serif;
  font-size: 1em;
  letter-spacing: -0.03em;
  line-height: 98.52%;
  text-align: center;
}

.header___text.desc {
  font-family: Playfair-Med, sans-serif;
}

.main___heading___wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main___heading {
  font-family: Inter-Bold, sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

.header___text.title {
  display: none;
}

@media (min-width: 900px) {
  .header___text.title {
    grid-column-start: 1;
    grid-column-end: 2;
    display: block;
  }
}

.about___text___container {
  width: 100%;
  margin: auto;
}

@media (min-width: 900px) {
  .about___text___container {
    width: 50%;
  }
}

.header___text.desc {
  text-align: center;
}

.header___text.desc span,
.nav___link,
.___time {
  /* opacity: 0; */
  animation: 0.75s cubic-bezier(0.65, 0, 0.35, 1) 0.75s forwards blur___animation;
  will-change: transform;
  transform: translateZ(0);
}

.header___text.desc span:last-child {
  animation-delay: 1s;
}

/* @keyframes blur___animation {
  0% {
    opacity: 0;
    filter: blur(1rem);
  }
  75% {
    opacity: 0.75;
    filter: blur(1.25rem);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
} */

/* @media (min-width: 900px) {
  .header___text {
    font-size: 1.85rem;
  }
} */

.pointer {
  cursor: pointer;
  user-select: none;
}

.___section.about {
  display: block;
  z-index: 99999;
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 20px;
}

.model___div {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.model___div canvas {
  will-change: transform;
  transform: translateZ(0);
}

.___spacer {
  height: 15vh;
}

@media (min-width: 900px) {
  .___spacer {
    height: 20vh;
  }
}

.___section.contact {
  width: 100%;
  /* opacity: 0; */
  bottom: 1.25rem;
  position: fixed;
  z-index: 99999999;
  transform: translate(0%, -30%);
  pointer-events: none;
}

/* @media (min-width: 700px) {
  .___section.contact {
    
  }
} */

.___section.contact.display,
.___section.projects.display {
  pointer-events: all;
  animation: 0.45s cubic-bezier(0.65, 0, 0.35, 1) 0s forwards blur___animation;
}

.contact___text {
  width: 100%;
  position: relative;
}

@media (min-width: 900px) {
  .contact___text {
    width: 100%;
  }
}

.header___text.smaller {
  font-size: 1.3rem;
}

.header___text.small {
  font-size: 1rem;
}

.header___text.upper___cased {
  text-transform: uppercase;
}

.contact___main___text {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: medium;
}

.about___button {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.contact___links {
  display: inline-block;
  /* position: absolute;
  right: 0; */
}

.booking___btn {
  display: inline-block;
  margin-bottom: 0.75rem;
  background-color: #0000ff;
  /* font-family: Inter-Bold, sans-serif; */
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
}

.display___flex {
  display: flex;
}

.social___link {
  position: relative;
  z-index: 99999;
  margin-right: 10px;
}

.___section.projects {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  gap: 0.75rem;
  margin-top: 21.8rem;
  /* opacity: 0; */
  pointer-events: none;
  position: relative;
  z-index: 9999;
}

@media (min-width: 900px) {
  .___section.projects {
    margin-top: 16.8rem;
  }
}

.contain___elements {
  grid-column-start: 1;
  grid-column-end: 14;
  position: relative;
}

@media (min-width: 700px) {
  .contain___elements {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}

@media (min-width: 900px) {
  .contain___elements {
    grid-column-start: 5;
    grid-column-end: 10;
  }
}

.project {
  position: relative;
  margin-bottom: 2rem;
}

.project___img {
  height: auto;
  width: 100%;
  /* background: #181818; */
  margin-bottom: 0.75rem;
}

.project___img img {
  width: 100%;
  height: auto;
}

.main___project {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  z-index: 999999;
}

.project___head {
  margin-bottom: 0.75rem;
  width: 100%;
  text-align: center;
}

.project___details {
  display: flex;
  justify-content: space-between;
}

.channel___orange {
  /* color: #0000ff; */
  display: block;
  margin-top: 0.75rem;
}

.preload___component {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload___component .header___text {
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
