@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  font-weight: normal;
}

.section---padded {
  padding: 20px;
}

@media (min-width: 900px) {
  .section---padded {
    padding: 25px 40px;
  }
}

.nav---action {
  display: none;
}

@media (min-width: 900px) {
  .nav---action {
    display: flex;
  }
}

.nav-sticky {
  position: sticky;
  top: 0;
}

.nav---bar {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: right;
  gap: 20px;
}

.nav---links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav---bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (min-width: 900px) {
  .nav---links {
    display: flex;
  }

  .nav---bar ul {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 20px;
  }
}

.btn {
  padding: var(---button-padding);
  border-radius: var(---border-radius);
  box-shadow: var(---box-shadow);
  background-color: var(---background-color);
  white-space: nowrap;
}

.btn.accent {
  background-color: var(---accent-color);
  color: white;
}

.hero---section {
  margin-top: 20vh;
  margin-bottom: var(--space);
  width: 100%;
  display: grid;
  grid-template-columns: var(---mobile-grid);
  gap: 20px;
}

@media (min-width: 768px) {
  .hero---section {
    grid-template-columns: var(---desktop-grid);
  }
}

.main---section {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 998px) {
  .main---section {
    grid-column-start: 2;
    grid-column-end: 12;
  }
}

nav a {
  color: #616161;
}

@media (min-width: 999px) {
  .main---section {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}

.header---text {
  letter-spacing: -0.04em;
}

.main---section .header---text {
  text-align: center;
  position: relative;
}

.header---desc {
  width: 90%;
  margin: 20px auto;
}

@media (min-width: 999px) {
  .header---desc {
    width: 60%;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(40px, -60px);
  height: 45px;
  width: 45px;
}

@media (min-width: 999px) {
  .logo {
    transform: translate(-20px, -60px);
  }
}

.call-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  gap: 60px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .call-action {
    flex-direction: row;
    gap: 20px;
  }
}

.stim {
  color: #616161;
  margin-bottom: 20px;
}

.projects {
  padding: 20px 40px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  overflow-x: hidden;
  margin-bottom: var(--space);
}

@media (min-width: 768px) {
  .projects {
    flex-direction: row;
  }
}

.proj-img,
.problem-img {
  height: auto;
  width: 100%;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .proj-img,
  .problem-img {
    width: 410px;
  }
}

.problem-header {
  width: 100%;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
  .problem-header {
    width: 70%;
  }
}

.problem-body {
  margin-bottom: 28px;
}

@media (min-width: 900px) {
  .problem-body {
    width: 50%;
  }
}

.problem-img {
  margin-left: auto;
}

.problem {
  margin-bottom: var(--space);
}

.benefits {
  text-align: center;
  margin-bottom: var(--space);
}

.benefits h1 {
  margin-bottom: 28px;
}

.benefits .ft {
  color: #616161;
}

.benefits .ft:hover {
  color: #000;
}

.apply-margin {
  margin-bottom: 56px;
}

.med {
  font-family: Medium-Header, sans-serif;
}

.center {
  text-align: center;
}

.project-bg {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: var(--space);
}

.faq h2 {
  margin-bottom: 28px;
  font-size: 1.2rem;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.faq {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: var(--space);
}

#faq {
  margin-bottom: var(--space);
}

.facts {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media (min-width: 900px) {
  .faq {
    flex-direction: row;
    /* text-align: center; */
    justify-content: space-between;
  }
}

a:hover {
  color: var(---accent-color);
}

.btn:hover {
  background-color: var(---accent-color);
  color: white;
}

.btn.accent:hover {
  background-color: white;
  box-shadow: var(---box-shadow);
  color: #000;
}
